/PRG/NetBeans/Intrucemayor/nbproject/private/
/PRG/NetBeans/Intrucemayor/build/
/PRG/NetBeans/numeroprimo/nbproject/private/
/PRG/NetBeans/numeroprimo/build/
/PRG/NetBeans/collatz/nbproject/private/
/PRG/NetBeans/collatz/build/
/PRG/NetBeans/micalculadora/nbproject/private/
/PRG/NetBeans/micalculadora/build/
/PRG/NetBeans/PrimerosPrimosBenchamark/nbproject/private/
/PRG/NetBeans/PrimerosPrimosBenchamark/build/
/PRG/NetBeans/Calculadora/nbproject/private/
/PRG/NetBeans/Calculadora/build/
/PRG/NetBeans/HundirLaFlota/nbproject/private/
/PRG/NetBeans/HundirLaFlota/build/
/PRG/NetBeans/P1T5_Netbeans/nbproject/private/
/PRG/NetBeans/P1T5_Netbeans/dist/
/PRG/NetBeans/EnfonaLaFlota/nbproject/private/
/PRG/NetBeans/EnfonaLaFlota/build/
/PRG/NetBeans/EnfonaLaFlota/dist/
/PRG/NetBeans/UML_test_NetBeans/nbproject/private/
/PRG/NetBeans/Ejercici1UD9/nbproject/private/
/PRG/NetBeans/Ejercici1UD9/build/
/PRG/NetBeans/Astres/nbproject/private/
