/PRG/NetBeans/Intrucemayor/nbproject/private/
/PRG/NetBeans/Intrucemayor/build/
/PRG/NetBeans/numeroprimo/nbproject/private/
/PRG/NetBeans/numeroprimo/build/
/PRG/NetBeans/collatz/nbproject/private/
/PRG/NetBeans/collatz/build/
